    <div class="box-content">
        <h4 class="widget-title"><span>Our Gallery</span></h4>
        <div class="gallery-wrapper">
            {{#each gallery}}
            <div class="gallery-thumb">
                <a data-fslightbox="gallery" href="{{this.url}}">
                    <img src="{{cloudinaryTransformation this.url 80 80}}" alt="{{this.title}}">
                </a>
            </div>
            {{/each}}
        </div>
        <!-- /.gallery-wrapper -->
    </div>

