<div class="box-content">
        <h4 class="widget-title"><span>Upcoming events</span></h4>
        <div class="events-sidebar">
                <ul>
                    {{#each futureEvents}}
                        <li class="event-item">
                                <div class="event-thumb">
                                    <img src="{{cloudinaryTransformation this.bannerImg 80 80}}" alt="">
                                </div>
                                <div class="event-content">
                                    <h5 class="event-title"><a href="/event/{{this.slug}}">{{this.title}}</a></h5>
                                    <p class="event-meta">{{this.date}}</p>
                                </div>
                        </li>
                    {{/each}}
                </ul>
        </div> <!-- /.events-sidebar -->
</div> <!-- /.box-content -->
