<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> 
<![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> 
<![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <title>Dedicated Parents | Contact</title>
        {{> header}}
    </head>
    <body>
	
        {{> headerNav active='contact'}}

		<div class="container">
			
			<div class="page-header">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<h2 class="page-title">Contact Page</h2>
					</div> <!-- /.col-md-6 -->
					<div class="col-md-6 col-sm-6 hidden-xs back-home">
						<a href="/">&larr; Go back Home</a>
					</div> <!-- /.col-md-6 -->
				</div> <!-- /.row -->
			</div> <!-- /.page-header -->

			<div class="row">
				
				<div class="col-md-8 contact-page">
                    <div class="contact-map" style="height: 380px;">
                        <iframe width="100%" height="380" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=380&amp;hl=en&amp;q=Stockholm+(Dedicated%20Parents)&amp;t=&amp;z=8&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                        </iframe>
                    </div>
					<div id="contact" class="contactForm clearfix">
                        <div id="result"></div>
                        <fieldset>
                            <label for="name-id">First Name:<span>Put your name here</span></label>
                            <input type="text" id="name-id" name="name-id">
                        </fieldset>
                        <fieldset> 
                            <label for="surname-id">Last Name:<span>Put your surname here</span></label>   
                            <input type="text" id="surname-id" name="surname-id">
                        </fieldset>
                        <fieldset>
                            <label for="email-id">E-mail:<span>Type email address</span></label>
                            <input type="email" id="email-id" name="email" class="form-input">
                        </fieldset>
                        <fieldset>
                            <label for="message">Message:<span>Type email address</span></label>
                            <textarea name="message" id="message" rows="6"></textarea>
                        </fieldset>
                        <fieldset>
                            <button id="submit_btn" class="btn main-btn" type="submit" name="">Send Message</button>
                        </fieldset>
                    </div>
				</div> <!-- /.col-md-8 -->

				<div class="col-md-4">
                    {{> galleryPhotos}}
                    {{> upcomingEvents}}
				</div> <!-- /.col-md-4 -->

			</div> <!-- /.row -->

		</div> <!-- /.container -->
        {{> footer}}

<script type="text/javascript">

$(document).ready(function() {
    $("#submit_btn").click(function() {
        // Get input field values
        const firstName = $('input[name=name-id]').val();
        const lastName = $('input[name=surname-id]').val();
        const userEmail = $('input[name=email]').val();
        const userMessage = $('textarea[name=message]').val();

        // Simple validations
        let isValid = true;
        const fields = [
            { field: firstName, selector: 'input[name=name-id]' },
            { field: lastName, selector: 'input[name=surname-id]' },
            { field: userEmail, selector: 'input[name=email]' },
            { field: userMessage, selector: 'textarea[name=message]' }
        ];

        fields.forEach(({ field, selector }) => {
            if (!field) {
                $(selector).css('border-color', 'red');
                isValid = false;
            }
        });

        // Email format validation
        const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        if (userEmail && !emailRegex.test(userEmail)) {
            $('input[name=email]').css('border-color', 'red');
            isValid = false;
        } else {
            $('input[name=email]').css('border-color', ''); // Reset the border color if valid
        }

        if (!isValid) return;

        const sendEmail = (msg) => {
            $.ajax({
                url: "/sendMsgToEmail",
                type: 'POST',
                data: JSON.stringify({
                    msgText: msg,
                    toEmail: "qasimali24@gmail.com",
                    msgSubject: "dedicatedparents.org - new ticket created",
                    brand: "dedicated_parents"
                }),
                contentType: "application/json"
            }).done(() => {
                $("#submit_btn").html("Message sent successfully!");
            }).fail( (err) => {
                console.log(err);
                $("#submit_btn").html("Message sending failed!");
            });
        };

        const getBrowserLocationAndSendEmail = () => {
            $.get('https://json.geoiplookup.io/')
                .done((res) => {
                    const msg = `
New message sent from dedicatedparents.org contact form. <br>
First Name: ${firstName}, <br>
Last Name: ${lastName}, <br>
User Email: ${userEmail}, <br>
User Message: ${userMessage} <br>
Browser Location: <br>
${JSON.stringify(res)}`;
                    sendEmail(msg);
                })
                .fail((err) => {
                    console.error(err);
                    alert('Failed to get browser location.');
                });
        };

        $("#submit_btn").html("Sending...");
        getBrowserLocationAndSendEmail();
    });

    // Reset border colors and hide messages on keyup
    $("#contact input, #contact textarea").keyup(function() {
        $(this).css('border-color', '');
        $("#result").slideUp();
    });
});



</script>

    </body>
</html>
