<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
</head>
<body>
    {{> header}}
    <h1>Welcome to {{title}}</h1>
    <p>This is a sample application.</p>
    {{> footer}}
</body>
</html>

