<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Verify Email</title>

    <meta name="title" content="Dedicated Parents - Stockholm">
    <meta name="description" content="">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">

    <!-- Twitter -->
    <meta property="twitter:card" content="">
    <meta property="twitter:url" content="">
    <meta property="twitter:title" content="">
    <meta property="twitter:description" content="">
    <meta property="twitter:image" content="">

    <!-- <link rel=icon href=/favicon.png> -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>

    <style media="screen">

        body {
            height: 100vh;
            widht: 100vw;
            box-sizing: border-box;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            font-family: "Roboto";
            margin: auto;
            padding: 15px;
        }

        body > p, body > a {
            max-width: 800px;
            text-align: left;
            display: block;
            font-size: 19px;
            line-height: 1.5;
            font-weight: bold;
            color: #333333;
        }

    </style>

  </head>
  <body>

      <p> {{msg}} </p>

      <a href="/">Explore</a>

  </body>
</html>

